# Python
__pycache__/
*.py[cod]
*.pyc

# Environment variables
.env

# Virtual environments
.venv/
venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Temporary cloned repositories
temp_repo_*/
codecomprehender_repo_*/ 